.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.golden-strip {
  position: absolute;
  top: 0;
  /* left: 50%; */
  width: 15%; /* Adjust the width of the strip as needed */
  height: 100%;
  /* background-color: goldenrod;  */
  /* transform: translateX(-50%); */

  background: #ebe3de;
  transform: skewX(165deg);
  left: 15%;
}
/* 
.mentor-section .card::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 154px;
  background: #ebe3de;
  transform: skewX(165deg);
  left: 54px;
} */
.form-error{
  margin-top: 2px;
  font-size: 10px !important;
  height: 10px;
  margin-bottom: -10px !important;
}