body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.img-fluid {
  width: 100%;
}
.hero-banner .sliderImg::before {
  background: inherit;
}
img[id*="imgLoading"] {
  position: absolute;
  right: 20px;
  top: 18px;
  width: 15px;
  display: none;
}
.register-form span[id*="rfv"],
#span_dob {
  font-size: 9.5px;
  color: #e31e24;
  position: absolute;
  bottom: -13px;
  left: 0px;
}
ul[class*="ui-front"] {
  overflow-y: scroll;
  max-height: 200px;
  font-size: 12px;
}
#p_Error {
  text-align: center;
  color: #e31e24;
  display: none;
  padding: 8px;
}
#div_regform {
  display: block;
}
#div_loginform {
  display: none;
}
.register-form .col-md-12 {
  position: relative;
}

.totalFee span.del {
  display: inline-block;
  position: relative;
  font-size: 14px;
  font-weight: 600;
  color: #e0181e;
}
.totalFee span.del::before {
  position: absolute;
  content: "";
  background: #040404;
  width: 100%;
  height: 1px;
  top: 10px;
  transform: rotate(176deg);
}
.totalFee .earlyBirdText {
  color: #000;
  font-size: 13px;
  font-weight: 600;
}
.totalFee span.no_del {
  display: inline-block;
  position: relative;
  font-size: 14px;
  font-weight: 600;
  color: #e0181e;
}

/* 
      .form-control {
      -webkit-appearance: inherit !important; 
      -moz-appearance: inherit !important;
      appearance: inherit !important;
      } */

.mb-3.col-md-12.col-6.position-relative span[id*="rfv"] {
  padding-right: 15px;
}

/************************* SELECT2 CUSTOM CSS *************************/
.select2-container .select2-selection--single {
  height: 44px;
  font-size: 14px;
}
.select2-container--default
  .select2-selection--single
  .select2-selection__rendered {
  line-height: 40px;
  padding-left: 15px;
}
.select2-container--default .select2-selection--single {
  border: 1px solid #ced4da;
}
.select2-container--default
  .select2-selection--single
  .select2-selection__arrow {
  height: 40px;
}
.select2-results__option {
  font-size: 12px;
  line-height: 16px;
}

input[type="tel"] {
  font-size: 14px !important;
  height: 44px;
}
.intl-tel-input {
  width: 100%;
  position: relative;
}

.country-list {
  width: 303px !important;
  white-space: normal !important;
}
.country-list {
  font-size: 13px;
}
.intl-tel-input.separate-dial-code .selected-flag {
  background: #fff;
}
.selected-dial-code {
  font-size: 13px;
}
.certified-logos {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  justify-content: center;
  gap: 15px;
}
.certified-logos .logos-item .nt-icons {
  margin: 0 !important;
}
.certified-logos .logos-item {
}

.stuFes {
  margin-top: 20px;
}
.stuFes a {
  display: inline-block;
  background: #ced4da;
  color: #111;
  text-decoration: none;
  padding: 5px 12px;
  border-radius: 6px;
}
/*
      

     button, input, optgroup, select, textarea {
      font-family: Arial, Helvetica, sans-serif !important;
      }
*/

.signUp-form .btn {
  color: #fff !important;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #666 !important;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #666 !important;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #666 !important;
}

.select2-selection__rendered {
  color: #666 !important;
  font-family: Arial, Helvetica, sans-serif !important;
}

footer.pb-5 {
  padding-bottom: 60px !important;
}
.footer-fixed-bar {
  background: #e9ecef;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 10;
  padding: 10px 0;
  display: none;
  border-radius: 20px 20px 0 0;
}
.footer-fixed-bar p {
  color: #111;
  font-size: 16px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  margin-bottom: 0;
}
.footer-fixed-bar a {
  text-transform: uppercase;
  font-size: 18px;
  text-decoration: none;
  font-weight: 700;
  line-height: 20px;
  color: #cb1218;
  display: inline-block;
  vertical-align: middle;
}

.allNotification {
  position: fixed;
  right: 30px;
  bottom: 100px;
  z-index: 10;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
}

.allNotification button {
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 30px;
  background: #fcb134;
}
.allNotification button:focus {
  outline: 0;
}

.allNotification__list {
  width: 250px;
  position: absolute;
  right: 0;
  bottom: 50px;
}

.allNotification__list.show {
  opacity: 0;
  visibility: hidden;
}
.allNotification__icon,
.gotoTop__icon {
  height: 44px;
  width: 44px;
  text-align: center;
  line-height: 44px;
  color: var(--text-white);
  background: var(--bg-green);
}

.allNotification__list:after {
  top: 100%;
  right: 15px;
  border: 6px solid rgba(255, 255, 255, 0);
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-top-color: #fff;
  margin-left: -6px;
}

.allNotification__list li {
  position: relative;
  margin-bottom: 10px;
  background: #fff;
  padding: 20px 20px 20px 38px;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2), 0 3px 30px rgba(0, 0, 0, 0.5) !important;
}

.allNotification__list li:last-child {
  margin-bottom: 0;
}

.allNotification__list li::before {
  content: "\f0f3";
  font-family: "Font Awesome 6 Free";
  position: absolute;
  left: 18px;
  top: 18px;
  color: #c7c7c7;
  font-size: 14px;
}

.allNotification__list li h6 {
  font-size: 14px;
  line-height: 16px;
}

.allNotification__list li p {
  font-size: 12px;
  line-height: 14px;
  margin-bottom: 0;
}

.allNotification__list li a {
  font-size: 14px;
  margin-bottom: 0;
  text-decoration: none;
  color: var(--text-dark);
  font-weight: 700;
}

.allNotification__icon {
  border: 0;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.allNotification__icon i {
  display: block;
}

.allNotification__icon i.fa-bell::before {
  content: "\f0f3";
  font-family: "Font Awesome 6 Free";
  position: absolute;
  left: 13px;
  top: 14px;
  color: #fff;
  font-size: 14px;
}

.allNotification__list li .btn {
  font-size: 13px;
  margin-top: 5px;
  padding: 0;
  border-bottom: 3px solid #fcb134 !important;
  border: 0;
  border-radius: 0;
  background: transparent;
  height: auto;
  min-width: auto;
  line-height: 26px;
  font-weight: 700;
}
.allNotification__list li p#demo {
  background: #333;
  color: #fff;
  display: inline-block;
  padding: 10px;
  font-size: 20px;
  border-radius: 6px;
  margin-bottom: 8px;
  font-weight: 600;
}

.border-item {
  border: 2px solid white;
  position: relative;
}

.border-item:before,
.border-item:after {
  content: "•";
  position: absolute;
  width: 14px;
  height: 14px;
  font-size: 14px;
  color: white;
  border: 2px solid white; 
  line-height: 12px;
  text-align: center;
  top: 5px;
}

.border-item:before {
  left: 5px;
}

.border-item:after {
  right: 5px;
}

.inner-border {
  position: relative;
  border: 2px solid white; /* Assuming $color-alpha is defined elsewhere */
}

.inner-border:before,
.inner-border:after {
  content: "•";
  position: absolute;
  width: 14px;
  height: 14px;
  font-size: 14px;
  color: white; /* Assuming $color-alpha is defined elsewhere */
  border: 2px solid white; /* Assuming $color-alpha is defined elsewhere */
  line-height: 12px;
  bottom: -2px;
  text-align: center;
}

.inner-border:before {
  left: -2px;
}

.inner-border:after {
  right: -2px;
}

.inner-border-certificate{
  color: rgb(226, 226, 226)!important; 
  border: 2px solid rgb(226, 226, 226)!important;
}

.border-item-certificate{
  color: rgb(226, 226, 226)!important; 
  border: 2px solid rgb(226, 226, 226)!important;
}


@media (max-width: 991px) {
  .footer-ft-data {
    align-items: flex-start;
  }
  .footer-ft-data img {
    top: auto;
  }
}

.animate-text {
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #cf1212 67%,
    #cf1212 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
}
@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

/* .iti-flag {
  background-image: url("/img/flags.webp");
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .iti-flag {
    background-image: url("/img/flags@2x.webp");
  }
} */

@font-face {
  font-family: "Gotham";
  src: url("../public/fonts/Gotham-Pro/GothamPro-Light.eot");
  src: url("../public/fonts/Gotham-Pro/GothamPro-Light.eot?#iefix")
      format("embedded-opentype"),
    url("../public/fonts/Gotham-Pro/GothamPro-Light.woff2") format("woff2"),
    url("../public/fonts/Gotham-Pro/GothamPro-Light.woff") format("woff"),
    url("../public/fonts/Gotham-Pro/GothamPro-Light.ttf") format("truetype"),
    url("../public/fonts/Gotham-Pro/GothamPro-Light.svg#Gotham-Light")
      format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gotham";
  src: url("../public/fonts/Gotham-Pro/GothamPro-Black.eot");
  src: url("../public/fonts/Gotham-Pro/GothamPro-Black.eot?#iefix")
      format("embedded-opentype"),
    url("../public/fonts/Gotham-Pro/GothamPro-Black.woff2") format("woff2"),
    url("../public/fonts/Gotham-Pro/GothamPro-Black.woff") format("woff"),
    url("../public/fonts/Gotham-Pro/GothamPro-Black.ttf") format("truetype"),
    url("../public/fonts/Gotham-Pro/GothamPro-Black.svg#Gotham-Black")
      format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* @font-face {
  font-family: 'Gotham';
  src: url('../public/fonts/Gotham-Pro/GothamPro-Thin.eot');
  src: url('../public/fonts/Gotham-Pro/GothamPro-Thin.eot?#iefix') format('embedded-opentype'),
      url('../public/fonts/Gotham-Pro/GothamPro-Thin.woff2') format('woff2'),
      url('../public/fonts/Gotham-Pro/GothamPro-Thin.woff') format('woff'),
      url('../public/fonts/Gotham-Pro/GothamPro-Thin.ttf') format('truetype'),
      url('../public/fonts/Gotham-Pro/GothamPro-Thin.svg#Gotham-Thin') format('svg');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
} */

@font-face {
  font-family: "Gotham";
  src: url("../public/fonts/Gotham-Pro/GothamPro-Bold.eot");
  src: url("../public/fonts/Gotham-Pro/GothamPro-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("../public/fonts/Gotham-Pro/GothamPro-Bold.woff2") format("woff2"),
    url("../public/fonts/Gotham-Pro/GothamPro-Bold.woff") format("woff"),
    url("../public/fonts/Gotham-Pro/GothamPro-Bold.ttf") format("truetype"),
    url("../public/fonts/Gotham-Pro/GothamPro-Bold.svg#Gotham-Bold")
      format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gotham";
  src: url("../public/fonts/Gotham-Pro/GothamPro-Medium.eot");
  src: url("../public/fonts/Gotham-Pro/GothamPro-Medium.eot?#iefix")
      format("embedded-opentype"),
    url("../public/fonts/Gotham-Pro/GothamPro-Medium.woff2") format("woff2"),
    url("../public/fonts/Gotham-Pro/GothamPro-Medium.woff") format("woff"),
    url("../public/fonts/Gotham-Pro/GothamPro-Medium.ttf") format("truetype"),
    url("../public/fonts/Gotham-Pro/GothamPro-Medium.svg#Gotham-Medium")
      format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
/* 
@font-face {
  font-family: 'Gotham';
  src: url('../public/fonts/Gotham-Pro/Gotham-Book.eot');
  src: url('../public/fonts/Gotham-Pro/Gotham-Book.eot?#iefix') format('embedded-opentype'),
      url('../public/fonts/Gotham-Pro/Gotham-Book.woff2') format('woff2'),
      url('../public/fonts/Gotham-Pro/Gotham-Book.woff') format('woff'),
      url('../public/fonts/Gotham-Pro/Gotham-Book.ttf') format('truetype'),
      url('../public/fonts/Gotham-Pro/Gotham-Book.svg#Gotham-Book') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
} */

body {
  font-family: "Gotham";
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  transition: 0.5s;
}

header.is-fixed {
  position: fixed;
  z-index: 100;
  -webkit-animation-name: stickySlideDown;
  animation-name: stickySlideDown;
  padding: 0;
  transition: none;
  width: 100%;
}

@-webkit-keyframes stickySlideDown {
  0% {
    opacity: 0.7;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes stickySlideDown {
  0% {
    opacity: 0.7;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.nav-brand a {
  display: inline-block;
}

.btn {
  height: 48px;
  padding: 0;
  min-width: 130px;
  line-height: 45px;
  font-size: 15px;
  font-weight: 500;
  background-color: #e31e24;
  border-color: #e31e24;
}

.btn-outline-primary {
  background-color: #fff;
  color: #454243;
  border-color: #454243;
  border-width: 2px;
}

.btn-lg {
  height: 63px;
  line-height: 61px;
  font-size: 18px;
  padding: 0 30px;
}

.hero-banner {
  height: 750px;
}
.sliderImg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.slider-img {
  background-image: url("../public/img/admissions-closing-banner.jpg");
}
.slider-img2 {
  background-image: url("../public/img/banner2.webp");
}
/*
.slider-img {
  background-image: url("../public/img/banner.webp");
}
*/

.no-js .slider-img {
  background-image: url("../public/img/banner.webp");
}
.hero-banner .sliderImg {
  position: relative;
}
.hero-banner .sliderImg::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: rgb(22, 33, 69);
  background: linear-gradient(
    90deg,
    rgba(22, 33, 69, 0.72) 0%,
    rgba(22, 32, 67, 0.45) 55%,
    rgba(21, 31, 64, 0) 100%
  );
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.carousel-dark .carousel-control-next-icon,
.carousel-dark .carousel-control-prev-icon {
  filter: initial;
}
.carousel-control-next-icon,
.carousel-control-prev-icon {
  filter: initial;
  background-color: red;
    color: white;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.banner-content {
  width: 486px;
  position: relative;
  z-index: 1;
}

.banner-content h2 {
  font-size: 48px;
  line-height: 50px;
  font-weight: bold;
  color: rgb(255, 255, 255);
}

.banner-content p {
  font-size: 22px;
  line-height: 28px;
  color: #ffffff;
}

.signUp-form {
  width: 350px;
}

.signUp-form h3 {
  text-align: center;
  font-size: 20px;
  line-height: 24px;
  color: #000;
  font-weight: 500;
}

.signUp-form p {
  font-size: 9px;
  line-height: 12px;
  color: #666;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"],
select {
  font-size: 14px !important;
  height: 44px;
  padding: 0 15px;
}

select {
  padding-left: 15px !important;
}

.helpline {
  margin-top: 50px;
}

.help-no small {
  font-size: 12px;
  color: #4f4f4f;
  font-weight: 500;
  display: block;
  line-height: 12px;
}

.help-no a {
  font-size: 18px;
  color: #333;
  font-weight: bold;
  text-decoration: none;
}

.help-no a:hover {
  color: #e31e24;
}

.p-80 {
  padding: 80px 0;
}

.about-2{
  position: relative;

}

.about-2:before {
  /* position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: rgb(22, 33, 69);
  background: linear-gradient( 90deg, rgba(22, 33, 69, 1) 0%, rgba(22, 32, 67, 0.7343312324929971) 55%, rgba(21, 31, 64, 0) 100% );
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; */
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.4;
  background: url("../public/img/banner-slide-5.webp");
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
}
.about-2 .ugpg-programs-content{
  position: relative;

}

.ugpg-programs {
  position: relative;
  /* background: #e31e24; */
  /* background: url("https://www.onlinecu.in/assets/uploads/cuBanner1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right; */
  /* filter: blur(10px); */
  /* z-index: -1;  */
}
.ugpg-programs:before {
  /* position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: rgb(22, 33, 69);
  background: linear-gradient( 90deg, rgba(22, 33, 69, 1) 0%, rgba(22, 32, 67, 0.7343312324929971) 55%, rgba(21, 31, 64, 0) 100% );
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; */
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.4;
  background: url("../public/img/cuBanner1.jpg");
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
}
.ugpg-programs .ugpg-programs-content{
  position: relative;

}

.main-heading {
  max-width: 620px;
  margin: auto;
}

.main-heading h2 {
  font-size: 36px;
  color: #fff;
  line-height: 36px;
  margin-bottom: 24px;
  font-weight: bold;
}

.main-heading p {
  font-size: 18px;
  color: #fff;
  line-height: 26px;
}

.main-heading.text-black h2 {
  color: #393737;
}

.main-heading.text-black p {
  color: #4f4f4f;
}

.h-60 {
  height: 60px;
}

.prog-heading {
  border-bottom: 1px solid rgba(196, 196, 196, 0.3);
  margin-bottom: 30px;
}

.prog-heading h3 {
  font-size: 20px;
  font-weight: bold;
  color: #000;
  border-bottom: 3px solid #000;
}

.program-card h4 {
  font-size: 15px;
  color: #000;
  line-height: 18px;
  font-weight: 500;
}

.program-card ul li {
  list-style-type: none;
  font-size: 13px;
  color: #333;
  font-weight: 500;
}

.program-card ul li span {
  font-weight: normal;
}

.program-card .card-footer {
  padding: 0;
  background: #fff;
}

.program-card .card-footer a {
  color: #fff;
  font-size: 13px;
  text-decoration: none;
  padding: 15px 0;
}

.program-card .card-footer a:hover {
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
}

.program-card .card-footer img {
  margin-right: 5px;
  position: relative;
  top: -1px;
}

.program-card .card-footer span {
  color: #333;
  font-size: 14px;
}

.program-card .card-footer span b {
  color: #e31e24;
}

.card-h-150 {
  height: 150px;
}

.student-bg {
  background-image: url("../public/img/student-1.webp");
  background-repeat: no-repeat;
  background-size: cover;
  height: 447px;
}

/*
.student-bg {
  background-image: url("../public/img/student-1.webp");
}
*/

.no-js .student-bg {
  background-image: url("../public/img/student-1.webp");
}

.student-bg-2 {
  background-image: url("../public/img/student-2.webp");
  background-repeat: no-repeat;
  background-size: cover;
  height: 465px;
}

/*
.student-bg-2 {
  background-image: url("../public/img/student-2.webp");
}
*/

.no-js .student-bg-2 {
  background-image: url("../public/img/student-2.webp");
}

.program-outcomes {
}

.program-outcomes .card {
  min-height: 300px;
  padding: 40px;
}

.program-outcomes .card img {
  margin-bottom: 30px;
}
.program-outcomes .card img {
  width: 350px;
  height: 300px;
}
.cu-advantages {
}

.cu-advantages {
  background-image: url("../public/img/advantages-bg.webp");
  background-repeat: no-repeat;
  background-size: cover;
}

/*
.cu-advantages {
  background-image: url("../public/img/advantages-bg.webp");
}
*/

.no-js .cu-advantages {
  background-image: url("../public/img/advantages-bg.webp");
}

.adv-card {
  background: transparent;
  border: 0;
}

.adv-card span {
  height: 227px;
  width: 227px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.05);
  display: inline-block;
}

.adv-card h3 {
  color: #fff;
  font-size: 22px;
  font-weight: bold;
  margin: 15px 0;
}

.adv-card p {
  font-size: 14px;
  color: #fff;
  line-height: 26px;
}

.nt-icons {
  height: 142px;
  width: 142px;
  border-radius: 50%;
  background: #fff;
  display: inline-block;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.nt-icons img {
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.path-sec {
  background: #f2f2f2;
}

.path-sec img {
}

.path-sec span {
  background: #2f80ed;
  color: #fff;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  text-align: center;
  display: block;
  margin: auto;
  margin: 15px auto;
  line-height: 28px;
  font-size: 14px;
  font-weight: bold;
}

.path-sec h3 {
  font-size: 22px;
  font-weight: bold;
  color: #000;
}

.news-card {
  display: block;
}

.news-card .card-body {
  height: 240px;
}

.news-card > img {
  width: 100%;
}

.news-card a {
  font-size: 18px;
  font-weight: bold;
  color: #000;
  text-decoration: none;
  line-height: 24px;
}

.news-card p {
  font-size: 14px;
  line-height: 20px;
  margin: 10px 0;
}

.news-card button {
  background: transparent;
  border: 0;
  padding: 0;
  position: absolute;
  right: 1.5rem;
  bottom: 1.5rem;
}

.news-card button a {
  text-decoration: none;
  font-size: 12px;
  color: #666;
  font-weight: normal;
}

.news-card button a img {
  margin-right: 10px;
  display: inline-block;
}

.news-item {
  padding: 0 15px 30px 15px;
}

.news-sec .slick-arrow {
  display: none !important;
}

.slick-dots li button:before {
  font-size: 26px;
}

.top-numbers {
  background: #e31e24;
}

.top-numbers h2 {
  font-size: 40px;
  color: #fff;
  font-weight: bold;
  margin-bottom: 5px;
  line-height: 36px;
}

.top-numbers h6 {
  font-size: 18px;
  color: #fff;
  font-weight: 500;
  margin: 0;
}

.ft-data {
  margin-top: 20px;
}

.ft-data img {
  position: relative;
  top: -15px;
}

.ft-add {
  font-size: 12px;
  line-height: 16px;
  padding-left: 15px;
}

.ft-add b {
  font-weight: 500;
}

.ft-social {
  border-top: 1px solid #c4c4c4;
}

.ft-social p {
  font-size: 12px;
  margin: 0;
  margin-right: 10px;
}

.ft-social a {
  margin-right: 5px;
  display: inline-block;
}

.ft-logo img {
  filter: grayscale(100);
}

.carousel-control-next,
.carousel-control-prev {
  width: 5%;
}

/* FIXED PHONE ICON */
.social-links {
  position: fixed;
  top: 40vh;
  right: 0;
  z-index: 5;
  width: 210px;
  margin-right: -156px;
}
.list-unstyled {
  padding-left: 0;
  list-style: none;
}
.social-links ul li a {
  background: #e82c30;
  color: #fff;
  padding: 10px;
  position: relative;
  right: 0;
  border-radius: 20px 0 0 20px;
  margin-bottom: 5px;
  width: 100%;
  display: flex;
  gap: 12px;
  align-items: center;
  text-decoration: none;
  transition: all 0.3s cubic-bezier(0.86, 0, 0.07, 1);
}
.social-links ul li a:hover {
  right: 140px;
}
.social-links ul li a span {
  font-size: 15px;
}

.section-heading h2 {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  color: var(--bs-text-dark);
}

.content-wrapper{
  height: 110px
}

.points-box::before {
  content: "#"; /* Content to be inserted before each .points-box */
  color: red; /* Color of the hash symbol */
  margin-right: 5px; /* Adjust as needed */
}
/* End Fixed Phone Icon */

@media (max-width: 1400px) {
  .nt-icons {
    height: 130px;
    width: 130px;
  }
}

@media only screen and (max-width: 1199px) {
  .slider-img {
    background-position: center;
  }
  .carousel-control-prev,
  .carousel-control-next {
    display: none;
  }
  .news-card .card-body {
    height: 260px;
  }
  .news-card a {
    font-size: 16px;
    line-height: 20px;
    display: block;
  }
}

@media only screen and (max-width: 991px) {
  .banner-content {
    width: 330px;
    padding: 80px 0;
  }
  .banner-content h2 {
    font-size: 44px;
    line-height: 55px; /*background: rgb(36 36 36 / 52%);*/
    display: inline;
  }
  .banner-content p {
    font-size: 18px;
    line-height: 24px;
  }
  .slider-img {
    background-position: 65%;
    background-color: rgba(153, 153, 153, 0.8);
    background-blend-mode: luminosity;
  }
  .top-numbers h6 {
    font-size: 15px;
  }
  .ft-data {
    margin-top: 0;
  }
  .ft-add b {
    display: block;
  }
  .ft-data img {
    top: -40px;
  }
  .path-sec h3 {
    font-size: 16px;
  }
  .p-80 {
    padding: 60px 0;
  }
}

@media only screen and (max-width: 767px) {
  .nav-brand {
    margin-bottom: 10px;
  }
  /* .carousel{ height: 300px !important;} */
  .hero-banner {
    height: auto;
  }
  .banner-overlay {
    position: static !important;
  }
  .signUp-form {
    margin: auto !important;
    width: 100%;
  }
  .helpline {
    position: static;
    width: 210px;
    margin: 15px auto;
  }
  .banner-content h2 {
    font-size: 36px;
    line-height: 46px;
  }
  .slider-img {
    background-position: 30%;
  }
  .banner-content {
    width: 100%;
    text-align: center;
  }
  .btn-lg {
    height: 55px;
    line-height: 53px;
    font-size: 16px;
  }
  .btn {
    height: 43px;
    line-height: 40px;
  }
  .banner-content p {
    margin: 15px 0 !important;
  }
  .carousel-indicators {
    margin-bottom: 0;
  }
  .banner-overlay {
    padding-top: 30px !important;
  }
  .main-heading h2 {
    font-size: 32px;
  }
  .nt-icons {
    width: 110px;
    height: 110px;
    margin: 10px !important;
  }
  .nt-icons img {
    width: 70%;
  }
  .news-item {
    padding: 0 10px 30px 10px;
  }
  .ft-logo {
    text-align: center;
    margin-bottom: 20px;
  }
  .ft-social div.d-flex {
    width: 100%;
    text-align: center;
    display: block !important;
  }
  .ft-social .col-md-6.text-end {
    text-align: center !important;
    padding-top: 10px;
  }
  .ft-data {
    display: block !important;
    text-align: center;
  }
  .ft-data img {
    position: static;
  }
  .ft-add {
    padding-left: 0;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 15px;
    margin-top: 10px;
    text-align: center;
    height: 140px;
  }
  .top-numbers {
    text-align: center;
  }
  .top-numbers h6 {
    margin-bottom: 15px;
  }
  .news-card .card-body {
    height: 310px;
  }
  .adv-card span {
    height: 200px;
    width: 200px;
  }
  .news-card .card-body {
    height: 240px;
  }
  header.is-fixed {
    top: -90px;
  }

  .equal-recognition{
    text-align: center;
  }
  .equivalence{
    font-size: 2rem!important;
  }
}

@media only screen and (max-width: 575px) {
  .cu-lgo img {
    width: 160px;
  }
  .naac-logo img {
    width: 85px;
  }
  .naac-logo.mx-3 {
    margin-right: 0 !important;
    margin-left: 10px !important;
  }
  .banner-content h2 {
    font-size: 24px;
    line-height: 28px;
  }
  .banner-content p {
    font-size: 16px;
    line-height: 21px;
  }
  .signUp-form .col-6 {
    flex: 0 0 100%;
    width: 100%;
  }
  .main-heading h2 {
    font-size: 26px;
    line-height: 30px;
  }
  .main-heading p {
    font-size: 16px;
    line-height: 24px;
  }
  .news-card .card-body {
    height: 260px;
  }
  footer .col-6 {
    flex: 0 0 100%;
    width: 100%;
  }
  .ft-data {
    margin-top: 15px;
  }
  .p-80 {
    padding: 40px 0;
  }
  header.is-fixed {
    top: -70px;
  }
}

.equal-height {
  display: flex;
  flex-wrap: wrap;
}


